header{
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px 20px;
    width: 100%;
    font-family: 'Trebuchet MS';
    text-align: center;
    color:#ffff;
    padding: 40px;
    background: #091134;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: larger;
    margin: 0;
    padding-top: 60px;
    background: #000000;
    color: white;
    background-image: url('tlo.jpg');
    background-size: cover;   
    background-repeat: no-repeat;   
    background-position: center;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.145);
}
.box{
    font-family: 'Trebuchet MS';
    text-align: center;
    color: white;
    background-color:#2c2c2f;
    width: 200px;
    height: 200px;
    border-radius: 12px;
    background-size: cover;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    transition: background-color 0.3s;
}

.kontener{
    position: relative;
    width: 200px;
    height: 200px;
}
.mail{
    text-align: center;
    flex-direction: column;
    background: #0826bc;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.box:hover{
    background: #222;
    color: white;
    text-align: center;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
    
.mail:hover{
    background-color: #172d8c;
}