body{
    text-align: center;
}
.submit{
    text-align: center;
    padding: 10px 20px;
    padding-top: 10px;
    font-size: 10px;
    color:white;
    background-color: rgb(6, 6, 143);
}
.pole{
    color:white;
    background-color: rgb(45, 45, 45);
    font-size: 15px;
    width: 150px;
    height: 30px;
}